body{
    background-color: #222;
    color: white;
    font-size: 20px;
}
img{
    display: block;
    margin: auto;
    height: 800px;
    width: 1200px;
}

.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #2E7958; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  

hr{
    border: 10px solid white;
    border-radius: 20px;
  }

.Form{
    background-color: #2E7958;
    padding-bottom: 70px;
    margin: auto;
    height: 820px;
}

#deptError{
    margin-left: 20px;

}


input[type=text], select ,.add {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select{
    font-size: 20px;
  }
  .add{
    background-color: white;
    color: black;
    margin-left: 700px;
  }
  
.submit{
    padding: 0px !important;
    background-color: transparent;
    border:0px;
    width: 20px;
     margin-left: 70px !important;
}


.sort , .Form  , .filter  , .labels {
    margin-left: 40px !important;
}
.Form table{
    margin-left: 40px;
}
.Form table , th,td{
    border: 1px solid #222;  
}

table , th,td{
    border: 1px solid #222;  
    padding: 5px;  
    width: 700px;
}

#nameError , #gradeError,#deptError{
    color: black;
    font-size: 20px;
}

.labels , .sort , .filter{ 
    font-size:50px !important ;

}
table{
    margin: auto !important;
}

.sort , .filter{
    display: inline;
    margin-left: 300px !important;
}